<a href="https://colab.research.google.com/github/Sam-Huin/atom/blob/master/Capstone_API.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#install API for getting prices
pip install bitfinex-tencars

Requirement already satisfied: bitfinex-tencars in /usr/local/lib/python3.6/dist-packages (0.0.3)

In [0]:
#Library imports
import bitfinex
import pandas as pd
import datetime
import time

In [0]:
# Create API instance
def fetch_data(start, stop, symbol, interval, tick_limit, step):
    api_v2 = bitfinex.bitfinex_v2.api_v2()
    data = []
    start = start - step
    while start < stop:
        start = start + step
        end = start + step
        res = api_v2.candles(symbol=symbol, interval=interval, limit=tick_limit, start=start, end=end)
        data.extend(res)
        time.sleep(2)
    return data

Bitcoins Data - 3Hourly

In [0]:
# Define query parameters
pair = 'btcusd' # Currency pair of interest
bin_size = '3h' # This will return 3hourly data
limit = 1000    # We want the maximum of 1000 data points

# Set step size
time_step = 1080000000

# Define the start date 
t_start = datetime.datetime(2017, 1, 1, 0, 0)
t_start = time.mktime(t_start.timetuple()) * 1000

# Define the end date
t_stop = datetime.datetime(2019, 10, 1, 0, 0)
t_stop = time.mktime(t_stop.timetuple()) * 1000

pair_data = fetch_data(start=t_start, stop=t_stop, symbol=pair, interval=bin_size, tick_limit=limit, step=time_step)

No keys, only access to public API functions

In [0]:
# Create pandas data frame and clean/format data
names = ['Date_Time', 'Open', 'Close', 'High', 'Low', 'Volume']
df = pd.DataFrame(pair_data, columns=names)
df.drop_duplicates(inplace=True)
df['Date_Time'] = pd.to_datetime(df['Date_Time'], unit='ms')
df.set_index('Date_Time', inplace=True)
df.sort_index(inplace=True)

In [0]:
df.shape

(8201, 5)

In [0]:
df

                        Open        Close     High      Low       Volume
Date_Time
2017-01-01 00:00:00   966.61   965.000000   967.79   965.00   226.067256
2017-01-01 03:00:00   965.01   964.880000   965.20   961.26   228.311999
2017-01-01 06:00:00   963.90   965.460000   967.45   962.60   282.771187
2017-01-01 09:00:00   965.41   978.160000   978.89   965.37  1806.444917
2017-01-01 12:00:00   977.11   978.450000   978.59   970.85   490.728218
...                      ...          ...      ...      ...          ...
2019-10-22 12:00:00  8310.50  8236.000000  8333.00  8215.80   653.392499
2019-10-22 15:00:00  8235.90  8229.400000  8247.90  8140.50   647.771000
2019-10-22 18:00:00  8229.60  8159.000000  8233.30  8102.40   745.783474
2019-10-22 21:00:00  8159.00  8054.300000  8159.00  8034.90   706.124434
2019-10-23 00:00:00  8054.00  8058.809701  8074.50  8017.50   579.024497

[8201 rows x 5 columns]

In [0]:
#Google Colab method to save files to local machine in .csv
from google.colab import files
df.to_csv('bitcoin_3hrs.csv')
files.download("bitcoin_3hrs.csv")

In [0]:
#Google Colab method to save files to local machine in Excel
df.to_excel('btc_3h.xlsx')
files.download('btc_3h.xlsx')

Bitcoins Data - 1Hourly

In [0]:
# Define query parameters
pair = 'btcusd' # Currency pair of interest
bin_size = '1h' # This will return 1hourly data
limit = 1000    # We want the maximum of 1000 data points

# Set step size
time_step = 360000000

# Define the start date 
t_start = datetime.datetime(2017, 1, 1, 0, 0)
t_start = time.mktime(t_start.timetuple()) * 1000

# Define the end date
t_stop = datetime.datetime(2019, 10, 1, 0, 0)
t_stop = time.mktime(t_stop.timetuple()) * 1000

pair_data = fetch_data(start=t_start, stop=t_stop, symbol=pair, interval=bin_size, tick_limit=limit, step=time_step)

No keys, only access to public API functions

In [0]:
# Create pandas data frame and clean/format data
names = ['Date_Time', 'Open', 'Close', 'High', 'Low', 'Volume']
df2 = pd.DataFrame(pair_data, columns=names)
df2.drop_duplicates(inplace=True)
df2['Date_Time'] = pd.to_datetime(df2['Date_Time'], unit='ms')
df2.set_index('Date_Time', inplace=True)
df2.sort_index(inplace=True)

In [0]:
df2.shape

(24194, 5)

In [0]:
df2

                            Open        Close  ...          Low      Volume
Date_Time                                      ...
2017-01-01 00:00:00   966.610000   967.000000  ...   965.000000   95.564614
2017-01-01 01:00:00   967.000000   965.500000  ...   965.500000   60.662494
2017-01-01 02:00:00   965.590000   965.000000  ...   965.000000   69.840147
2017-01-01 03:00:00   965.010000   964.490000  ...   963.160000   56.699787
2017-01-01 04:00:00   963.840000   962.600000  ...   961.260000   80.570159
...                          ...          ...  ...          ...         ...
2019-10-06 04:00:00  8082.100000  8114.100000  ...  8081.500000   39.858922
2019-10-06 05:00:00  8114.081823  8089.952108  ...  8076.640154   50.921535
2019-10-06 06:00:00  8089.900000  7998.700000  ...  7951.600000  757.315096
2019-10-06 07:00:00  7998.500000  8000.200000  ...  7972.300000  138.447585
2019-10-06 08:00:00  8000.109821  7911.000000  ...  7911.000000  409.436496

[24194 rows x 5 columns]

In [0]:
#Google Colab method to save files to local machine in .csv
from google.colab import files
df2.to_csv('bitcoin_hourly.csv')
files.download('bitcoin_hourly.csv')

In [0]:
#Google Colab method to save files to local machine in Excel
df2.to_excel('btc_1h.xlsx')
files.download("btc_1h.xlsx")

Bitcoins Data - 1Hourly (Result)

In [0]:
# Define query parameters
pair = 'btcusd' # Currency pair of interest
bin_size = '1h' # This will return 1hourly data
limit = 1000    # We want the maximum of 1000 data points

# Set step size
time_step = 360000000

# Define the start date 
t_start = datetime.datetime(2019, 10, 1, 0, 0)
t_start = time.mktime(t_start.timetuple()) * 1000

# Define the end date
t_stop = datetime.datetime(2019, 11, 1, 0, 0)
t_stop = time.mktime(t_stop.timetuple()) * 1000

pair_data = fetch_data(start=t_start, stop=t_stop, symbol=pair, interval=bin_size, tick_limit=limit, step=time_step)

No keys, only access to public API functions

In [0]:
# Create pandas data frame and clean/format data
names = ['Date_Time', 'Open', 'Close', 'High', 'Low', 'Volume']
df3 = pd.DataFrame(pair_data, columns=names)
df3.drop_duplicates(inplace=True)
df3['Date_Time'] = pd.to_datetime(df3['Date_Time'], unit='ms')
df3.set_index('Date_Time', inplace=True)
df3.sort_index(inplace=True)

In [0]:
df3.shape

(901, 5)

In [0]:
df3

                            Open        Close  ...          Low      Volume
Date_Time                                      ...
2019-10-01 00:00:00  8337.348119  8246.500000  ...  8235.504389  182.973090
2019-10-01 01:00:00  8246.400000  8316.000000  ...  8228.000000  173.054130
2019-10-01 02:00:00  8317.000000  8456.200000  ...  8312.400000  644.514280
2019-10-01 03:00:00  8459.400000  8446.800000  ...  8445.000000  582.687830
2019-10-01 04:00:00  8446.800000  8479.800000  ...  8441.100000  294.070470
...                          ...          ...  ...          ...         ...
2019-11-07 08:00:00  9253.100000  9249.000000  ...  9230.581867  222.886220
2019-11-07 09:00:00  9247.000000  9228.310801  ...  9224.000000  141.180439
2019-11-07 10:00:00  9228.300000  9210.900000  ...  9150.000000  480.579563
2019-11-07 11:00:00  9210.000000  9207.327220  ...  9190.900000   78.489698
2019-11-07 12:00:00  9207.300000  9188.300000  ...  9150.900000   96.823094

[901 rows x 5 columns]

In [0]:
#Google Colab method to save files to local machine in .csv
from google.colab import files
df3.to_csv('bitcoin_result_1h.csv')
files.download("bitcoin_result_1h.csv")

In [0]:
#Google Colab method to save files to local machine in Excel
df3.to_excel('btc_result1h.xlsx')
files.download('btc_result1h.xlsx')

Bitcoins Data - 3Hourly (Result)

In [0]:
# Define query parameters
pair = 'btcusd' # Currency pair of interest
bin_size = '3h' # This will return 3hourly data
limit = 1000    # We want the maximum of 1000 data points

# Set step size
time_step = 1080000000

# Define the start date 
t_start = datetime.datetime(2019, 10, 6, 0, 0)
t_start = time.mktime(t_start.timetuple()) * 1000

# Define the end date
t_stop = datetime.datetime(2020, 1, 1, 0, 0)
t_stop = time.mktime(t_stop.timetuple()) * 1000

pair_data = fetch_data(start=t_start, stop=t_stop, symbol=pair, interval=bin_size, tick_limit=limit, step=time_step)

No keys, only access to public API functions

In [0]:
# Create pandas data frame and clean/format data
names = ['Date_Time', 'Open', 'Close', 'High', 'Low', 'Volume']
df4 = pd.DataFrame(pair_data, columns=names)
df4.drop_duplicates(inplace=True)
df4['Date_Time'] = pd.to_datetime(df4['Date_Time'], unit='ms')
df4.set_index('Date_Time', inplace=True)
df4.sort_index(inplace=True)

In [0]:
df4.shape

(801, 5)

In [0]:
df4.head()

                       Open        Close         High          Low       Volume
Date_Time
2019-10-06 00:00:00  8163.2  8093.500000  8183.235406  8050.200000   355.451322
2019-10-06 03:00:00  8093.4  8089.952108  8118.000000  8066.977788   179.127168
2019-10-06 06:00:00  8089.9  7911.000000  8098.800000  7911.000000  1305.199177
2019-10-06 09:00:00  7911.0  7977.000000  7991.500000  7911.000000   385.885827
2019-10-06 12:00:00  7977.0  7943.300000  7997.700000  7890.300000   844.319189

In [0]:
df4.tail()

                            Open       Close  ...          Low       Volume
Date_Time                                     ...
2020-01-13 12:00:00  8070.513513  8079.02439  ...  8053.600000   362.994178
2020-01-13 15:00:00  8079.100000  8084.50000  ...  8061.000000   422.246138
2020-01-13 18:00:00  8084.500000  8145.20000  ...  8082.900000   409.614543
2020-01-13 21:00:00  8145.124477  8095.80000  ...  8093.877445   171.904430
2020-01-14 00:00:00  8095.800000  8415.00000  ...  8095.800000  2530.881564

[5 rows x 5 columns]

In [0]:
#Google Colab method to save files to local machine in .csv
from google.colab import files
df4.to_csv('bitcoin_result_3h.csv')
files.download("bitcoin_result_3h.csv")

In [0]:
#Google Colab method to save files to local machine in Excel
df4.to_excel('btc_result3h.xlsx')
files.download('btc_result3h.xlsx')