<a href="https://colab.research.google.com/github/Sam-Huin/atom/blob/master/Capstone_API.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
pip install bitfinex-tencars

Collecting bitfinex-tencars
  Downloading https://files.pythonhosted.org/packages/1e/a3/319c3b268bf5672ff0a6655359418ea8a00037323dd4258aa8bd2123aabd/bitfinex_tencars-0.0.3-py3-none-any.whl
Installing collected packages: bitfinex-tencars
Successfully installed bitfinex-tencars-0.0.3

In [0]:
import bitfinex
import pandas as pd

In [0]:
def fetch_data(start, stop, symbol, interval, tick_limit, step):
    # Create api instance
    api_v2 = bitfinex.bitfinex_v2.api_v2()
    data = []
    start = start - step
    while start < stop:
        start = start + step
        end = start + step
        res = api_v2.candles(symbol=symbol, interval=interval, limit=tick_limit, start=start, end=end)
        data.extend(res)
        time.sleep(2)
    return data

In [11]:
import datetime
import time

# Define query parameters
pair = 'btcusd' # Currency pair of interest
bin_size = '3h' # This will return 3hourly data
limit = 1000    # We want the maximum of 1000 data points

# Set step size
time_step = 1080000000

# Define the start date 
t_start = datetime.datetime(2017, 1, 1, 0, 0)
t_start = time.mktime(t_start.timetuple()) * 1000

# Define the end date
t_stop = datetime.datetime(2019, 10, 1, 0, 0)
t_stop = time.mktime(t_stop.timetuple()) * 1000

pair_data = fetch_data(start=t_start, stop=t_stop, symbol=pair, interval=bin_size, tick_limit=limit, step=time_step)

No keys, only access to public API functions

In [0]:
import pandas as pd

# Create pandas data frame and clean/format data
names = ['Date_Time', 'Open', 'Close', 'High', 'Low', 'Volume']
df = pd.DataFrame(pair_data, columns=names)
df.drop_duplicates(inplace=True)
df['Date_Time'] = pd.to_datetime(df['Date_Time'], unit='ms')
df.set_index('Date_Time', inplace=True)
df.sort_index(inplace=True)

In [13]:
df.shape

(8201, 5)

In [14]:
df

                        Open        Close     High      Low       Volume
Date_Time
2017-01-01 00:00:00   966.61   965.000000   967.79   965.00   226.067256
2017-01-01 03:00:00   965.01   964.880000   965.20   961.26   228.311999
2017-01-01 06:00:00   963.90   965.460000   967.45   962.60   282.771187
2017-01-01 09:00:00   965.41   978.160000   978.89   965.37  1806.444917
2017-01-01 12:00:00   977.11   978.450000   978.59   970.85   490.728218
...                      ...          ...      ...      ...          ...
2019-10-22 12:00:00  8310.50  8236.000000  8333.00  8215.80   653.392499
2019-10-22 15:00:00  8235.90  8229.400000  8247.90  8140.50   647.771000
2019-10-22 18:00:00  8229.60  8159.000000  8233.30  8102.40   745.783474
2019-10-22 21:00:00  8159.00  8054.300000  8159.00  8034.90   706.124434
2019-10-23 00:00:00  8054.00  8058.809701  8074.50  8017.50   579.024497

[8201 rows x 5 columns]

In [0]:
from google.colab import files
df.to_csv('bitcoin_3hrs.csv')
files.download("bitcoin_3hrs.csv")

In [0]:
df.to_excel('btc_3h.xlsx')

In [0]:
files.download('btc_3h.xlsx')

In [24]:
# Define query parameters
pair = 'btcusd' # Currency pair of interest
bin_size = '1h' # This will return hourly data
limit = 1000    # We want the maximum of 1000 data points

# Set step size
time_step = 360000000

# Define the start date 
t_start = datetime.datetime(2017, 1, 1, 0, 0)
t_start = time.mktime(t_start.timetuple()) * 1000

# Define the end date
t_stop = datetime.datetime(2019, 10, 1, 0, 0)
t_stop = time.mktime(t_stop.timetuple()) * 1000

pair_data = fetch_data(start=t_start, stop=t_stop, symbol=pair, interval=bin_size, tick_limit=limit, step=time_step)

No keys, only access to public API functions

In [0]:
# Create pandas data frame and clean/format data
names = ['Date_Time', 'Open', 'Close', 'High', 'Low', 'Volume']
df2 = pd.DataFrame(pair_data, columns=names)
df2.drop_duplicates(inplace=True)
df2['Date_Time'] = pd.to_datetime(df2['Date_Time'], unit='ms')
df2.set_index('Date_Time', inplace=True)
df2.sort_index(inplace=True)

In [26]:
df2.shape

(24194, 5)

In [27]:
df2

                            Open        Close  ...          Low      Volume
Date_Time                                      ...
2017-01-01 00:00:00   966.610000   967.000000  ...   965.000000   95.564614
2017-01-01 01:00:00   967.000000   965.500000  ...   965.500000   60.662494
2017-01-01 02:00:00   965.590000   965.000000  ...   965.000000   69.840147
2017-01-01 03:00:00   965.010000   964.490000  ...   963.160000   56.699787
2017-01-01 04:00:00   963.840000   962.600000  ...   961.260000   80.570159
...                          ...          ...  ...          ...         ...
2019-10-06 04:00:00  8082.100000  8114.100000  ...  8081.500000   39.858922
2019-10-06 05:00:00  8114.081823  8089.952108  ...  8076.640154   50.921535
2019-10-06 06:00:00  8089.900000  7998.700000  ...  7951.600000  757.315096
2019-10-06 07:00:00  7998.500000  8000.200000  ...  7972.300000  138.447585
2019-10-06 08:00:00  8000.109821  7911.000000  ...  7911.000000  409.436496

[24194 rows x 5 columns]

In [0]:
df2.to_csv('bitcoin_hourly.csv')
files.download('bitcoin_hourly.csv')

In [0]:
df2.to_excel('btc_1h.xlsx')
files.download("btc_1h.xlsx")